.system {
    position:absolute;
    height: 50vh;
    width: 50vh;
    background-color: aqua;
    border-radius: 100%;
    display: inline-block;
    z-index: 1;
}

.planet {
    position:absolute;
    bottom:30%;
    height: 100%;
    width: 100%;
    background-color: orangered;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
  }

.moon {
    position:absolute;
    height: 25%;
    width: 25%;
    background-color: seagreen;
    border-radius: 100%;
    display: inline-block;
    z-index: 3;
}

table {
    margin:2vh;
    border-spacing: 0;
}

th, td {
    background-color: red;
    height: 2vh;

    width: 10vh;
}

.missing {
    background-color:transparent
}


.blacksun-head {
    position:absolute;
    top:500vh;
    height: 150vh;
    width: 150%;
    background-color: black;
    border-radius: 100%;
    transform:translate(-5%, -60%);
    z-index: 1;
  } 


.blacksun-body {
    position:absolute;
    height: 1300vh;
    width: 99%;
    overflow:clip;
    background-color: black;
    transform:translate(0%, -60%);
    z-index: 999;
  } 

body {
    min-height: 10000vh;
    background-repeat:no-repeat;
    background-position: 0 0;
    background-color: black,
}